<template>
  <v-container wrap>
    <v-flex row wrap text-md-right text-xs-center>
      <div id="title"></div>
      <br/>
      <div class="grey--text text--darken-2 display-2 my-title">ABOUT</div>
    </v-flex>
  </v-container>
</template>

<script>
  export default {

  }
</script>

<style scoped>
  #title{
    content: "";
    width: 30%;
    height: 5px;
    float: right;
    top: 0;
    right: 0;
    background: #f1b200;
  }

  .my-title {
    float: right;
  }

  .layout.wrap{
    flex-wrap: nowrap;
  }
</style>
