<template>
  <v-layout row class="mabout-full-flex grey lighten-3">
    <v-container>
      <v-container justify-center align-center>
        <v-flex row text-md-left text-xs-center>
          <div class="hidden-md-and-up title-center title-line"></div>
          <div class="hidden-sm-and-down title-line"></div>
          <br/>
          <div class="grey--text text--darken-2 display-2">ABOUT</div>
        </v-flex>
      </v-container>
      <v-container>
        <v-flex class="blockquote grey--text text--darken-2 ">
          Hi! I'm Nut, Nuttapat Koonarangsri. I'm pursuing a Bachelor degree of <b>Computer Science</b> along with a Minor in Physics at Mahidol University, International College.
          It took me a while to start creating this site but now it is started!. Believe it or not, my favorite fields of study are Computer Science, Mathematics and Physics.
          Maths is incredibly interested if you know what it is capable of and it is the basis of both Computer Science and Physics.
        </v-flex>
      </v-container>
    </v-container>
  </v-layout>
</template>

<script>
  export default {
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .mabout-full-flex {
    height: auto;
    min-height: 100vh;
    width: 100%;
    min-width: 100%;
    padding: 0;
    margin: 0;
  }

  .title-line{
    content: "";
    width: 70px;
    height: 5px;
    top: 0;
    background: #f1b200;
  }

  .title-center {
    margin: 0 auto;
    position: relative;
  }
</style>
