.center {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.full-container{
  height:100%;
  width: 100%;
  min-width: 100%;
  padding: 0;
  margin: 0;
}
